{% extends 'base.html'%}
{% block title %}首页{% endblock title %}

{% block main %}

    <div id="main">

        {% for p in postlist %}
        <article class="article article-type-post">
            <div class="article-meta">
                <a class="article-date">
                    <time>{{p.created}}</time>
                </a>
                <div class="article-category">
                    <a class="article-category-link"target="_blank">{{p.category.cname}}</a>
                </div>
            </div>
            <div class="article-inner">
                <header class="article-header">
                    <h1 itemprop="name">
                        <a class="article-title"target="_blank">{{p.title}}</a>
                    </h1>
                </header>
                <div class="article-entry" itemprop="articleBody">
                    <h2>前言</h2>
                    <hr>
                    {{p.desc}}


                    <p class="article-more-link">
                        <a href="/post/{{ p.id }}" target="_blank">阅读全文</a>
                    </p>
                </div>
                <footer class="article-footer">
                    <a data-url="存放文章的url" class="article-share-link">分享</a>
                    <ul class="article-tag-list">


                            {% for t in p.tag.all %}
                            <li class="article-tag-list-item">
                                <a class="article-tag-list-link" href="#">{{t.tname}}</a>
                            </li>
                            {% endfor %}






                    </ul>
                </footer>
            </div>
        </article>
        {% endfor%}





        <nav id="page-nav">
                
                {% if postlist.has_previous %}
                    <a class="extend prev" rel="next" href="/page/{{ postlist.previous_page_number}}">« Prev</a>
                {% endif %}

                {% for i in page_list %}
                    {% if num == i %}
                        <span class="page-number current">{{i}}</span>
                    {% else %}
                        <a class="page-number" href="/page/{{i}}">{{i}}</a>
                    {% endif %}
                    
                {% endfor %}

                {% if postlist.has_next %}
                    <a class="extend next" rel="next" href="/page/{{ postlist.next_page_number}}">Next »</a>
                {% endif %}


        </nav>

    </div>

{% endblock %}
